@import "css/clock.css";
@import "css/name-form.css";
@import "css/todo-form.css";
@import "css/bg.css";
@import "css/weather.css";
@import "css/music.css";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #34495e;
  margin: 0;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

input {
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  color: white;
}

input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}
